mixin cryptocurrencies(value = false)
    +b.SECTION.cryptocurrencies
        .container
            .row.align-items-center
                +e.text
                    +e.H2.heading #{value.heading}
                    +e.UL.list
                        each val in value.list
                            +e.LI.item #{val}
                +e.controll(data-animation-time="10", data-animation-hide-crypto="2")
                    +e.circle
                        +e.UL.list-cryptos
                            - for (let i = 1; i <= value.cryptos; i++)
                                - var imageUrl = "img/content/crypto-" + i + ".webp"
                                - var imageUrlx2 = "img/content/crypto-" + i + "@x2.webp x2"
                                - var className = "_" + i
                                +e.item-img(class=className)
                                    //+e.IMG.cryptos(src=imageUrl)
                                    +e.IMG.cryptos(class="lozad" data-src=imageUrl data-srcset=imageUrlx2)
                        +e.circle-wrp
                            +e.circle-inner
                                +e.circle-cover
                                    +e.IMG.logo-small(class="lozad" data-src=`img/content/logo-small.webp` data-srcset=`img/content/logo-small@x2.webp 2x` media="(min-width: 768px)")
